.box {
    width: 150px;
    background: #fefefe;
    border: 1px solid #C3D4DB;
    border-top: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: rgba(0,0,0,0.15) 0 0 1px;
    -webkit-box-shadow: rgba(0,0,0,0.15) 0 0 1px;
    box-shadow: rgba(0,0,0,0.15) 0 0 1px;
    color: #444;
    font: normal 12px/14px Arial, Helvetica, Sans-serif;
    overflow: hidden;
    margin: 5px;
    display:inline-block;
}

.box-body {
    background: #fefefe;
    border-top: 1px solid #dde0e8;
    border-bottom: 1px solid #dde0e8;
    padding: 10px 10px;
}

.box-head {
    background: #eff4f6;
    border-top: 1px solid #fff;
    padding: 10px 10px;
    overflow: hidden;
}
.pointer { cursor: pointer; }