{% extends "base.html" %}

{% block content %}
{% load staticfiles%}
<select id="add-advantages" style="width:260px"></select>
<select id="add-attributes" style="width:260px"></select>
<div id="right-part" style="float: right;">
    <div id="attributes" class="box">
        <div class="box-head">
            Attributs
        </div>
        <div id="attributes-body" class="box-body">
        </div>
    </div>
    <div id="info" class="box">
        <div class="box-head">
            Info
        </div>
        <div id="info-body" class="box-body">
            <input id="first_name" placeholder="prénom" name="first_name" value="{{ character.first_name }}" style="width: 90%;"/>
            <input id="last_name" placeholder="nom" name="last_name" value="{{ character.last_name }}" style="width: 90%;"/>
            <input id="nickname" placeholder="surnom" name="nickname" value="{{ character.nickname }}" style="width: 90%;"/>
            <input id="total_pc" placeholder="pc total" name="total_pc" value="{{ character.total_pc }}" style="width: 90%;"/>
        </div>
    </div>
    <div id="save" class="box">
        <div class="box-head pointer">
            SAUVEGARDER
        </div>
    </div>
</div>
<div id="advantages">
    {% for advantage in advantages %}
        <div class="box advantage">
            <div class="box-head advantage-name" data-id="{{ advantage.id }}" data-character_id="{{ character.id }}">
                {{ advantage.name }} <img class="pointer delete" src="{% static "deletered.png" %}" style="width: 12px; float: right;">
            </div>
            <div class="box-body">
                {% for attribute_advantage in advantage.attribute_advantages %}
                <div class="attribute">
                <span class="attribute-name" data-id="{{ attribute_advantage.attribute_id }}">{{ attribute_advantage.attribute_name }}</span> :
                    <span class="attribute-value">{{ attribute_advantage.bonus }}</span>
                    (<span class="attribute-max">{{ attribute_advantage.max }}</span>)
                </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
<div style="display: none;">
    {% for attribute in attributes %}
        <input id="fattr{{ attribute.attribute_id }}" class="flat_attribute" data-id="{{ attribute.attribute_id }}" value="{{ attribute.bonus }}">
    {% endfor %}
    <span id="delete-template"><img class="pointer delete" src="{% static "deletered.png" %}" style="width: 12px; float: right;"></span>
    <input id="character_id" value="{{ character.id }}">
</div>
<script>
    $(document).ready(function() {
        var editor = new Editor('add-advantages', 'add-attributes', '{{ http_host }}')
        editor.handleAddAdvantages()
        editor.handleAddAttributes()
        editor.handleDeleteAdvantage()
    })
</script>
{% endblock content %}